<footer>
  <div class="container footer-container">
    <div class="footer-section">
      <div class="info">
        <div class="part-one">
          <div class="logo">
            <svg style="fill: white">
              <use href="./img/icons.svg#icon-focusframe-icon"></use>
            </svg>
          </div>

          <div class="adres">
            <address>
              <a href="tel:+380665438912">+38 066 543 8912</a><br />
              <p>1678 S. Pioneer Road Salt Lake City UT 84104</p>
            </address>
          </div>
        </div>

        <div class="part-two">
          <div class="social-media-part">
            <ul>
              <li>
                <a
                  href="https://www.instagram.com/goit.turkiye/"
                  target="_blank"
                >
                  INSTAGRAM
                </a>
              </li>

              <li>
                <a
                  href="https://www.facebook.com/people/GOIT-T%C3%BCrkiye/61558036560161/"
                  target="_blank"
                >
                  FACEBOOK
                </a>
              </li>

              <li>
                <a href="https://m.youtube.com/@GoITTurkey" target="_blank">
                  YOUTUBE
                </a>
              </li>
            </ul>
          </div>

          <div class="page-sections-part">
            <ul>
              <li>ABOUT US</li>
              <li>OUR COURSES</li>
              <li>OUR MENTORS</li>
              <li>REVIEWS</li>
              <li>CONTACTS</li>
            </ul>
          </div>
        </div>

        <div class="part-three">
          <form class="subscription">
            <input
              class="subscription-input"
              type="email"
              name="email"
              placeholder="Enter your email"
              pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$"
              required
            />
            <button class="subscription-button" type="submit">Go</button>
          </form>
        </div>
      </div>

      <div class="part-four">
        <div class="policy">
          <p>
            Privacy Policy <br />
            Public Offering Agreement
          </p>
        </div>

        <div class="rights">
          <div class="line">
            2024 Focus Frame <br />
            © All rights reserved
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
