<main>
  <div class="container wrap">
    <section class="hero-section" id="hero">
      <h1 class="title">
        Discover the magic of
        <span>photography</span> in our school
      </h1>

      <p class="title-1">
        Our photography school offers an unforgettable journey, where you can
        learn the basics of composition, master technical skills, translate your
        unique ideas.
      </p>

      <div class="rectangle">
        <img src="./img/hero-img.png" alt="Photographer holding a camera" />
      </div>

      <div class="content-wrapper">
        <div class="happy-students-section">
          <div class="student-profiles">
            <img
              src="./img/girl 1.png"
              alt="Student 1"
              class="profile-img first-img"
            />
            <img
              src="./img/boy.png"
              alt="Student 2"
              class="profile-img second-img"
            />
            <img
              src="./img/girl.png"
              alt="Student 3"
              class="profile-img third-img"
            />
          </div>
          <a href="#" class="students-text-and-arrow">
            <p class="students-title">Our happy students</p>
            <span class="arrow-icon">&#8594;</span>
          </a>
        </div>

        <div class="reviews-section">
          <div class="star-icon-container">
            <svg
              class="icon-star"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <polygon
                points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"
              ></polygon>
            </svg>
          </div>
          <div class="reviews-text">
            <p class="reviews-label">Reviews</p>
            <p class="reviews-count">+1500</p>
          </div>
        </div>
      </div>
    </section>
  </div>
</main>
