.footer-container {
  background-image: url(../img/footer-back.png);
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  border-top: 1px solid var(--dark-grey);
  background-color: var(--black);
  color: var(--white);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.25;
  padding: 40px 0;
  display: flex;
}

.footer-section {
  margin: 0 auto;
  padding: 0 16px;
  max-width: 1280px;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 40px;
}

.part-one {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.logo-footer {
  margin-bottom: 25px;
}

.footer-section .adres p,
.footer-section .adres a {
  margin-top: 10px;
  margin-bottom: 0;
  width: auto;
  font-size: 14px;
  line-height: 1.29;
  color: var(--white);
  text-decoration: none;
}

.part-two {
  display: flex;
  list-style: none;
  flex-direction: row;
  gap: 20px;
}

.social-media-part ul,
.page-sections-part ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.social-media-part ul li a,
.page-sections-part ul li {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  color: var(--white);
  text-transform: uppercase;
}

.part-three {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
}

.subscription {
  display: flex;
  flex-direction: row;
  gap: 8px;
  width: 100%;
  max-width: 300px;
}

.subscription-input {
  border-radius: 12px;
  padding: 20px 18px;
  width: 267px;
  height: 20px;
  outline: none;
  box-shadow: none;
  border: 1px solid var(--black);
  font-family: var(--font-family);
  font-size: 16px;
  color: var(--black);
}

input::placeholder {
  font-size: 16px;
  color: #121212;
}

.subscription-button {
  background-color: var(--dark-grey);
  border: 1px solid var(--dark-grey);
  color: var(--white);
  font-family: var(--font-family);
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  width: 60px;
  height: 60px;
  border-radius: 12px;
  padding: 18px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.part-four {
  display: flex;
  gap: 50px;
}

.policy p,
.rights .line {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: var(--white);
  text-align: start;
}

.rights {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

@media (min-width: 768px) {
  .footer-section {
    padding: 0 32px;
    position: relative;
    left: 60px;
  }

  .info {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
  }

  .logo {
    position: relative;
    right: 10px;
  }

  .address {
    position: relative;
    right: 10px;
    width: 200px;
  }

  .part-one {
    flex-basis: auto;
    flex-grow: 0;
  }

  .part-two {
    flex-direction: row;
    gap: 20px;
    flex-basis: auto;
    flex-grow: 1;
    justify-content: flex-start;
  }

  .part-three {
    flex-basis: 300px;
    flex-grow: 1;
    align-items: flex-end;
  }

  .subscription {
    width: 250px;
    position: relative;
    left: 30px;
    top: -200px;
  }

  .subscription-input {
    width: calc(100% - 68px);
  }

  .part-four {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    gap: 20px;
  }

 .policy{
  position: relative;
right: 50px; 
}

}

@media (min-width: 1280px) {
  .footer-section {
    padding: 0 16px;
  }

  .logo-footer {
    position: relative;
    right: 190px;
  }

  .info {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    gap: 40px;
  }

  .part-one {
    flex-basis: auto;
  }

  .address {
    position: relative;
    right: 200px;
    width: 300px;
  }

  .part-two {
    flex-direction: row;
    gap: 60px;
    flex-grow: 1;
    justify-content: flex-start;
    padding-left: 20px;
    width: 250px;
  }

  .part-three {
    flex-basis: 300px;
    flex-grow: 0;
    align-items: flex-end;
  }

  .subscription {
    width: 100%;
    position: relative;
    top: 0;
  }

  .policy {
    position: relative;
    right: 260px;
  }

  .line {
    position: relative;
    left:150px;
  }
}
