@media (min-width: 320px) and (max-width: 375px) {
     .container {
          height: 1360px;
     }

     .mentor-header {
          color: var(--brown);
     }

     .our-cover {
          width: 335px;
          height: 1152px;
          display: flex;
          flex-direction: column;
          gap: 0px;
     }

     .our-main-box {
          margin: 80px 20px;
          display: flex;
          flex-direction: column;
          margin: 0 auto;
          background-color: var(--black);
          width: 400px;
          height: 400px;
     }

     .our-border {
          width: 335px;
          height: 244px;
          color: var(--white);
          margin-left: 0px;
          margin-right: 20px;
          margin-bottom: 20px;
     }

     .our-header {
          margin-top: 80px;
          margin-left: 40px;
          margin-bottom: 40px;
          font-family: var(--font-family);
          color: var(--white);
          font-weight: 500;
          font-size: 28px;
          line-height: 32px;
          letter-spacing: -4%;

     }

     .title-box-our {
          position: relative;
          margin-bottom: 0;
          display: flex;
          flex-direction: column;
          gap: 10px;
          align-items: center;
     }

     .our-picture {
          border-radius: 60px;
          width: 120px;
          height: 120px;
          background-color: var(--black);
     }

     .title-box-our {
          display: flex;
          flex-direction: column;
          justify-content: center;
          margin: 20px;
     }

     .name-our {

          font-family: var(--font-family);
          font-weight: 500;
          font-style: Medium;
          font-size: 20px;
          line-height: 24px;
          letter-spacing: 0%;
          text-align: center;

     }

     .title-our {
          margin-top: 4px;
          margin-bottom: 20px;
          font-family: var(--font-family);
          font-weight: 400;
          font-style: Regular;
          font-size: 12px;
          line-height: 16px;
          letter-spacing: -2%;
          text-align: center;

     }

     .our-credential {
          width: 195px;
          height: 54px;
     }

}

@media (min-width: 376px) and (max-width: 768px) {
     .container {
          width: 768px;
          height: 900px;
     }

     .mentor-header {
          color: var(--brown);
     }

     .our-tab {
          display: flex;
     }

     .our-main-box {
          margin: 0 auto;
          background-color: var(--black);
          width: 1280px;
          height: 250px;
     }

     .our-cover {
          margin-left: 30px;
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
     }

     .our-border {
          width: 194px;
          height: 244px;
          color: var(--white);
          margin-left: 20px;
          margin-right: 20px;
          margin-bottom: 20px;
     }

     .our-header {
          margin-top: 100px;
          margin-left: 0px;
          margin-bottom: 40px;
          font-family: var(--font-family);
          font-weight: 500;
          font-size: 48px;
          line-height: 54px;
          letter-spacing: -4%;

     }

     .title-box-our {
          margin: 20px;
          display: flex;
          flex-direction: column;
          gap: 10px;
          justify-content: center;
     }

     .our-picture {
          transform: translate(20px);
          border-radius: 75px;
          margin: 0;
          width: 170px;
          height: 150px;
          background-color: var(--black);
     }

     .title-box-our {
          margin: 20px;
     }

     .name-our {
          font-family: var(--font-family);
          font-weight: 500;
          font-style: Medium;
          font-size: 28px;
          line-height: 32px;
          letter-spacing: 0%;
          text-align: center;
     }

     .title-our {
          margin-top: 4px;
          margin-bottom: 20px;
          font-family: var(--font-family);
          font-weight: 400;
          font-style: Regular;
          font-size: 14px;
          line-height: 18px;
          letter-spacing: -2%;
          text-align: center;
     }

     .our-credential {
          width: 195px;
          height: 54px;
     }

}

@media (min-width: 769px) {

     .container {
          width: 1200px;
          height: 900px;
     }

     .mentor-header {
          color: var(--brown);
     }

     .our-tab {

          display: flex;
          flex-direction: row;
          gap: 100px;
          margin-left: 70px;
     }

     .our-cover {
          margin-left: 150px 0px;
          padding-left: 100px;
          display: flex;
          align-items: center;
          gap: 30px;
          padding-left: 20px;
     }

     .our-main-box {
          margin: 0 auto;
          background-color: var(--black);
          width: 1440px;
          height: 360px;
          margin-left: 10px;
          margin-bottom: 150px;
     }

     .our-border {
          width: 190px;
          height: 250px;
          color: var(--white);

     }

     .our-header {
          margin-left: 0px;
          margin-bottom: 50px;
          margin-top: 150px;
          font-family: var(--font-family);
          font-weight: 500;
          font-size: 48px;
          line-height: 54px;
          letter-spacing: -4%;
     }

     .title-box-our {
          margin: 0;
          display: flex;
          flex-direction: column;
          gap: 10px;
          align-items: center;
     }

     .our-picture {
          border-radius: 85px;
          margin: 0;
          width: 170px;
          height: 170px;
          background-color: var(--black);
     }

     .name-our {
          font-family: var(--font-family);
          font-weight: 500;
          font-style: Medium;
          font-size: 28px;
          line-height: 32px;
          letter-spacing: 0%;
          text-align: center;
     }

     .title-our {
          margin-top: 4px;
          margin-bottom: 20px;
          font-family: var(--font-family);
          font-weight: 400;
          font-style: Regular;
          font-size: 14px;
          line-height: 18px;
          letter-spacing: -2%;
          text-align: center;
     }

     .our-text {
          width: 490px;
          height: 100px;
          margin: 20px;
          font-family: var(--font-family);
          font-weight: 400;
          font-size: 16px;
          line-height: 20px;
          letter-spacing: -2%;
     }

     .our-star {
          position: absolute;
          left: 390px;
          top: 20px;
          width: 86px;
          height: 16px;
          text-align: center;
          font-family: var(--font-family);
          font-weight: 400;
          font-size: 14px;
          line-height: 18px;
          letter-spacing: -2%;
     }

}